img
{
	border-radius: 20px;
}
body
{
	margin: 0;
	background-color: #000;
}
h1, h2 
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
	text-align: center;
	display: block;
	text-decoration: none;
}

#map
{
	-webkit-box-shadow: 0px 0px 20px 5px #7df;
	-moz-box-shadow: 0px 0px 20px 5px #7df;
	background-image: un.png;
	box-shadow: 0px 0px 20px 5px #7df;
	border-radius: 20px;
	-moz-border-radius: 20px;
	width: 85%;
	height: 50%;
}
#map1
{
	-webkit-box-shadow: 0px 0px 20px 5px #7df;
	-moz-box-shadow: 0px 0px 20px 5px #7df;
	box-shadow: 0px 0px 20px 5px #7df;
	border-radius: 20px;
	-moz-border-radius: 20px;
	width: 100%;
	height: 80%;
}

#inp
{
	-webkit-box-shadow: 0px 0px 2px 0px #fff;
	-moz-box-shadow: 0px 0px 2px 0px #fff;
	box-shadow: 0px 0px 2px 0px #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #000;
	font-style: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #fff;
	width: 85%;
	height: 18%;
	font-size: 10px;
	padding-left: 12px;
	padding-top: 5px;
}

#inp:focus
{
	-webkit-box-shadow: 0px 0px 15px 2px #fff;
	-moz-box-shadow: 0px 0px 15px 2px #fff;
	box-shadow: 0px 0px 15px 2px #fff;
}

#btn
{
	float: right;
	color: #aff;
	border-color: #158;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	height: 6%;
	background: -moz-linear-gradient(top, #56a 0%, #459 10%, #348 20%, #237 30%, #126 40%, #015 50%, #004 60%, #003 70%, #003 80%, #003 90%, #003 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a), color-stop(10%,#459), color-stop(20%,#348), color-stop(30%,#237), color-stop(40%,#126), color-stop(50%,#015), color-stop(60%,#004), color-stop(70%,#003), color-stop(80%,#002), color-stop(90%,#001), color-stop(100%,#000));
}
.sub
{
	border-radius: 8px;
	margin-right: 7.5%;
}

.del
{
	position: absolute;
	margin-top: 1%;
	margin-left: 1%;
	z-index: 100;
}

#btn:hover
{
	-webkit-box-shadow: 0px 0px 10px 2px #fff;
	-moz-box-shadow: 0px 0px 10px 2px #fff;
	box-shadow: 0px 0px 10px 2px #7df;
}
